# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
Logs
/dist
/tmp
/out-tsc
/bazel-out
/target
/docs
/bin
/debug
/obj
bin/
debug/
obj/
# Node
/node_modules
npm-debug.log
yarn-error.log




# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.suo
*.vsidx

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
# user-specific files
*.ruser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# mono auto genereated files
mono_crash.*

.vs/

# Build results

[Dd]ebug/
[Rr]elease/
[Dd]ebugPublic/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# build results
[Db]ebugPS/
[Rr]eleasePS/
dlldata.c9

# .NET core
project.lock.json
project.fragment.lock.json
artifacts/

# files build by visual studio 
*_i.c
*_p.c
*_h.h
*.ikh
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.svclog
*.scc

# chutzpah test files
_chutzpah*

# visual c++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*vc.db
*.VC.VC.opendb

# visual studio profiler
*.psess
*.vsp
*.vspx
*.sap

# visual studio trace files
*.e2e

# TFS 2012 Local Workspace
$tf/

#Guidance Automation Toolkit 
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# AxoCover is a Code coverage Tool
.axoCover/*
!.axoCover/settings.json

# coverlet is a free, cross platform code coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# visual studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightMoose
*.mm.*
AutoTest.Net/

# web workbench outout folder 
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.Hxc
DocProject/Help/*.hhc
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
DocProject/Help/*.hhk

# click-Once directory
publish/

# Publish web output 
*.[Pp]ublish.xml
*.azurePubxml


#NuGet Packages
*.nupkg
# NuGet symbol Package
*.snupkg
*.env.*
.env

# The pacakge folder can be ignored because of package Restore 
**/[Pp]ackages/*
# execpt build which is used as an MSBuild target 
!**/[Pp]ackages/build/

# NuGet v3's project.json files procedure more ignorrable files
*.nuget.props
*.nuget.targets

# microsoft Azure Build Output 
csx/
*.build.csdef

# microsoft Azure Emulator 
ecf/
rcf/

# Windows store app package directories and files 
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# visual studio cache files
*.[Cc]ache

# but keep track of directories ending in .cache
!?*.[Cc]ache/

# others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codeegn.csdef

#Including strong name files can present a securit risk 
#*.snk

#RIA/Silverlight projects
Generated_code/

#Since there are multiple workflow, uncomment next line to ignore bower_components
#bower_components/

_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.Backup

#SQL Server files
*.mdf
*.ldf
*.ndf

#Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

#Microsoft Fakes
FakeAssemblies/

#GostDoc plugin setting file
*.GhostDoc.xml

#Node.js Tools for visual studio
.ntvs_analysis.data
node_modules/

# Visual studio 6 build log 
*.plg
#Visula studio 6 workspace options file 
*opt

# msbuild binary and structured log
*.binlog

# local history for visual studio 

.vshistory/

# vs code files for those working on multiple tools

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json 
!.vscode/extensions.json*.code-workspace

#local history for visual studio code 
.history/

# windows installer files from build outputs
*.cab
*.Msi 
*.msix
*.msm 
*.msp 
# jetbrains Rider
*.sln.iml
/WEB.LABV1/BloodBank/BloodBank/BloodBankManagement/.config/dotnet-tools.json
/WEB.LABV1/BloodBank/BloodBank/BloodBankManagement/Properties/PublishProfiles/FolderProfile.pubxml
/WEB.LABV1/BloodBank/BloodBank/MasterManagement/.config/dotnet-tools.json
/WEB.LABV1/BloodBank/BloodBank/MasterManagement/Properties/PublishProfiles/FolderProfile.pubxml

/WEB.LABV1/DEV.API.SERVICE/14/36/00004803
/WEB.LABV1/DEV.API.SERVICE/libman.json
