* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('1455648.jpg');
    background-color: black !important; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    font-family: "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
}

h1.logo {
    overflow: hidden;
    text-indent: -9999em;
    width: 290px;
    height: 70px;
    margin: 15px 9px 40px auto;
    background-image: url('https://lims.yungtrepreneur.com/app/assets/img/68.png');
    background-size: 172px;
    background-repeat: no-repeat;
}

#banner .clear {
    height: 0;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    display: block;
}

#banner {
    z-index: 100;
    background: #1a1a1a;
    padding: 10px 0;
    width: 100%;
    display: block;
}

    #banner.transparent {
        background-color: transparent;
    }

    #banner.above {
        position: absolute;
        top: 0;
        left: 0;
    }

    #banner .logo-zone {
        height: auto;
        clear: left;
        float: left;
        overflow: hidden;
    }

    #banner h1#logo-link {
        height: 57px;
        width: 160px;
        margin: 24px 12px;
        background: url(../images/build-internet-logo-shadow.png) no-repeat top left;
    }

        #banner h1#logo-link a {
            text-indent: -9999px;
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

#wrapper {
    width: 100%;
    margin: 0 auto;
}

p {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

#footer a,
#wrapper a {
    color: #e8914c;
    text-decoration: none;
    border-bottom: 1px dotted #e8914c;
}

    #footer a:hover,
    #wrapper a:hover {
        color: #eab209;
        border-bottom: 1px dotted #eab209;
    }

#footer {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

    #footer p {
        color: rgba(255, 255, 255, .5);
    }

#vertical-ticker {
    height: 85%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

    #vertical-ticker li {
        padding: 35px 20px;
        display: block;
        font-family: "Times New Roman", Times, serif;
        color: white;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        font-family: Helvetica Neue, times, serif;
    }

.vertical-Header {
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

    .vertical-Header li {
        padding: 35px 20px;
        display: block;
        color: #FF4700;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        font-family: Helvetica Neue, times, serif;
    }

.divTableCell {
 font-size: 40px;
    text-align: left;
    padding-left: 39px;
    font-family: system-ui;
}
