<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
	<system.web>
		<compilation debug="true"/>
	</system.web>
	<appSettings>
		<add key="Timeinterval" value="30"/>
		<add key="WinServiceName" value="MLABEMAILSERVICE"/>
		<add key="ExceptionLogPath" value="C:\log\"/>
		<add key="ExternalServiceURL" value=""/>
		<add key="UserName" value=""/>
		<add key="Password" value=""/>
		<add key="ReportServiceURL" value="http://localhost:8080/ReportService/api/"/>
		<add key="TransTemplateFilePath" value=""/>
		<add key="TransFilePath" value=""/>
		<add key="MasterFilePath" value=""/>
		<add key="FireBaseAPIkey" value=""/>
		<add key="IssendLog" value="1"/>
		<add key="FromAddress" value=""/>
		<add key="FromAddressPassword" value=""/>
		<add key="Toaddress" value=""/>
		<add key="HostAddress" value=""/>
		<add key="Port" value="587"/>
		<add key="IsSSL" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="YMEntities"
			  connectionString="data source=DESKTOP-CRN56AN\SQL2025;initial catalog=LISDBNGROK;user id=sa;password=DBC0nnect#789;MultipleActiveResultSets=True"
			  providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
</configuration>
