<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <appSettings>  
    <add key="Timeinterval" value="10"/>  
    <add key="WinServiceName" value="YMwinService"/>
    <add key="ExceptionLogPath" value="C:\log\"/>
    <add key="Salt" value="setting salt to a bigger data"/>
    <add key="MKey" value="Fr0(ere3545s$%d"/>
    <add key="Connectionstring" value="Zlm5vgTfmy38AkalXGYA+TFFDB7eYGj1VFPy5pNz0bwU6MIbNksY48xB/rEKQdrbT8ZynwBXJIw0hjSCf/9jBck0xMdRVxOkN21K0VkMbJD/Wte4U20Jd4aXLX8rwRWzjqjuv07118T5mecZ+GLYppncLOltKtfVYYCbAvqsSAg30TPDSPSLay4y7/u/ZVhQOPUOHCfPzG5cTay2BP4RoF5YaafFcweUOy/5RNbsM3eZWIyDAnoO1rOvsHSc7ocjd/4mhtHE02xBJmY9PzUDbA=="/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
